* {
    scrollbar-color: #454a4d #202324;
    color: antiquewhite;
}

footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

p,
h1,
h2,
h3 {
    width: 100%;
}

.center {
    text-align: center;
}


/* Basic Block Level Element */

div {
    display: flex;
}

header {
    display: inline-flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

span {
    float: none;
    display: flex;
}

span.center {
    inline-size: -moz-fit-content;
}

header>span.left,
header>span.right {
    aspect-ratio: 1;
}

a {
    cursor: pointer;
    color: red;
}

a:hover {
    cursor: pointer;
    color: rgb(0, 4, 255);
}

table {
    width: -moz-available;
    max-width: 1000px;
}

span.left {
    width: 50%;    
}

span.right {
    width: 50%;
}